#user-z{
    z-index: 2;
}
.user-all-modules{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    /* width: 45vw; */
    width: 30%;
    font-size: 18px;
}


#statesOPtions{
    border: none;
    width: 6vw;
    background-color: transparent;
    text-align: center;
    outline: none;
    width:11vw;
    color: ghostwhite;
     font-weight: 500;
}
.module-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: ghostwhite;
    cursor: pointer;
    width: 9vw;
    height: 8vh;
    border-radius: .4em;
    /* font-weight: 500; */
    
}

#bg-color{
    background-color: turquoise;
}
.logout1{
width: 6vw;
position: absolute;
top: 6.3vh;
right: 0;
width: 10vw;
/* height: 16.5vh; */
text-align: left;
padding: 5px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
border-radius: .3em;
background-color: white;
}
.logout2{
    width: 6vw;
    position: absolute;
    top: 6.3vh;
    right: 0;
    width: 10vw;
    height: 6vh;
    text-align: left;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: .3em;
    background-color: white;
    }

