
.forgotPwd-p-c{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.forgot-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85vh;
    height: 70vh;
    border-radius: 1em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.fotgot-input-field{
    display: flex;
    background-color: aqua;
    flex-direction: column;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    height: 16vh;
}
.forgot-form input {
    /* background-color: #eee;
    padding: 5px 15px 5px 5px;
    border: 13px;
    border-radius: 0.3em;
    width: 40vh;
    height: 6vh;
    outline: none; */
}
.forgot-form img {
    width: 50vh;
    margin-top: 0px;
}
#reset-btnf{
    border: none;
    width: 26vh;
    height: 9vh;
    color: white;
    background-color: royalblue;
    border-radius: 1em;
    /* margin-top: 8vh; */
}

.forgot-alert{
    width: 100%;
    height: 9vh;
}