.resetPwd-p-c{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.reset-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 38vw;
    height: 60vh;
    border-radius: 1em;
}
#reset-btn{
    width: 12vw;
    height: 9vh;
    background-color: royalblue;
    color: white;
    border: 1px solid #cfced4;
    border-radius: 1em;
    margin-top: 15px;
}